{% extends 'base.html.twig' %}

{% block title %}Un trousseau de Chabap{% endblock %}

{% block body %}
    <div class="row page-title">
        <h1>Bienvenue</h1>
    </div>
    <div class="container">
        <div class="row description-item">
            <p>
                Les jeunes et futurs mariés m’ont confié une mission d’importance !
                Dénicher pour eux, des pièces de mobilier, luminaire et art de la table qui constitueront leur trousseau pour leur nouvelle vie d’époux. Les différentes pièces présentes sur cette liste ont été proposées par mes soins et validées par Charline et Baptiste.
                Ils aiment déjà toutes les pièces d’amour ❤️
            </p>
            <p>
                Voici les entreprises / créateurs / commerçants d’où viennent les différents présents. Ils répondent tous à un critère essentiel : provenance locale et savoir-faire !
            </p>
        </div>
        <div class="row">
            <div class="col w-50 description-item">
                <h2>L’HISTOIRE SANS FIN</h2>
                <p>
                    Magasin d’antiquités, brocante et mobilier vintage de la région lyonnaise.
                    C’est une entreprise familiale très attachée à la seconde vie de l’objet,
                    beaucoup de pièces peuvent rendre heureux un nouveau propriétaire !
                </p>
                <div><a href="https://www.instagram.com/lhistoiresansfin_vintage/" class="btn btn-primary" target="_blank">En savoir plus</a></div>
            </div>
            <div class="col w-50"></div>
        </div>
        <div class="row">
            <div class="col w-50"></div>
            <div class="col w-50 description-item">
                <h2>L’atelier en pente à Grigny</h2>
                <p>
                    Céramiste de talent qui fabrique depuis son atelier dans la région lyonnaise
                    des collections de pièces uniques en grès, faïence ou porcelaine.
                </p>
                <div><a href="https://latelierenpente.fr/" class="btn btn-primary" target="_blank">En savoir plus</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col w-50 description-item">
                <h2>PIMPRENELLE</h2>
                <p>
                    A la tête de cette jolie jardinerie urbaine, basée sur Valence,
                    se trouve Elsa qui propose de merveilleuses plantes et objets.<br>
                </p>
                <div><a href="https://pimprenelle-jardinerie.fr/" class="btn btn-primary" target="_blank">En savoir plus</a></div>
            </div>
            <div class="col w-50"></div>
        </div>
        <div class="row">
            <div class="col w-50"></div>
            <div class="col w-50 description-item">
                <h2>BARALINGE</h2>
                <p>
                    Entreprise de la région lyonnaise attachée aux matières naturelles et
                    plus particulièrement au lin. Ils proposent tout un ensemble de linge de lit et linge de maison en lin lavé.
                </p>
                <div><a href="https://www.baralinge.com/" class="btn btn-primary" target="_blank">En savoir plus</a></div>
            </div>
        </div>
        <div class="row description-item">
            <p>
                Je m’occuperai personnellement de l’achat, emballage et transport jusqu’à destination
                (vous découvrirez au fil de la liste que certains éléments sont un peu encombrants !)
                Pour le paiement, voici comment procéder : vous pouvez acheter l’ensemble d’une pièce ou alors faire une participation,
                libre choix à chacun !
            </p>
        </div>
        <div class="row home-description">
            <p>
                Pour toute question vous pouvez me contacter par téléphone : 0667789299
                (Si je ne peux pas vous répondre sur l’instant, je vous rappellerai sans faute ^^)
                Ou par mail : <a href="mailto:l28sophie@hotmail.fr">l28sophie@hotmail.fr</a>
                Ce travail est réalisé en collaboration avec Jérôme (frère de Charline) qui a fait le site internet !
            </p>
        </div>
        <div class="row home-description">
            <div class="col w-25">
                <p>Sophie</p>
            </div>
            <div class="col w-25">
                <img class="img-fluid" src="{{ asset('images/sophie.png') }}" alt="Sophie">
            </div>
            <div class="col w-50"></div>
        </div>


    </div>
{% endblock %}