// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

body {
    background-color: #bdddd2;
}

a {
    color: #953D49;
}

a:hover {
    color: #DD541F;
    // color: #16311E;
}

.card-img-top {
    width: 10rem;
    height: auto;
}