{% block header %}
    <header>
        <div class="container">
            <div class="header-title">
                <h1 class="display-3 text-center"><a href="{{ path('home') }}">UN TROUSSEAU POUR CHABAP</a></h1>
            </div>
        </div>
        {% include 'navbar.html.twig' %}
    </header>
{% endblock %}