{% block header %}
    <div class="container">
        <h1 class="display-3 text-center text-light"><a href="{{ path('home') }}">UN TROUSSEAU POUR CHABAP</a></h1>
    </div>

    {% include 'navbar.html.twig' %}
{% endblock %}